:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-background-color: #e5e5e5;
  --sub-background-color: #f5f4fa;
  --accent-background-color: #2f303a;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  list-style: none;
}


/* --------Header------- */

/* .header {}
.header__nav {} */

.header__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.4;
  color: var(--title-text-color);
  text-decoration: none;
}

.header__logo:focus,
.header__logo:hover {
  color: var(--accent-color);
}

.header__logo--accent {
  color: var(--accent-color);
}

/* .header__list {}
.header__item {} */

.header__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  color: var(--title-text-color);
  text-decoration: none;
}

.header__link:hover,
.header__link:focus {
  color: var(--accent-color);
}

/* .header__sub-list {}
.header__sub-item {} */

.header__sub-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  color: var(--primary-text-color);
  text-decoration: none;
}

.header__sub-link:hover,
.header__sub-link:focus {
  color: var(--accent-color);
}

/* --------Main-------- */

/* .main {}
.filter__list {}
.filter__item {} */

.filter__button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--title-text-color);
  background-color: var(--sub-background-color);
}

.filter__button:hover,
.filter__button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

/* .main-content__list {}
.main-content__item {}
.main-content__img {} */

.main-content__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--title-text-color);
}

.main-content__text {
  font-size: 16px;
  line-height: 1.8;
}

/* ---------Footer-------- */

/* .footer {} */

.footer__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.4;
  color: var(--title-text-color);
  text-decoration: none;
}

.footer__logo:hover,
.footer__logo:focus {
  color: var(--accent-color);
}

.footer__logo--accent {
  color: var(--accent-color);
}

/* .footer__address {}
.footer__list {}
.footer__item {} */

.footer__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  color: var(--primary-white-color);
  opacity: 0.6;
  text-decoration: none;
}

.footer__link:hover,
.footer__link:focus {
  color: var(--primary-white-color);
  opacity: 1;
}
